.presentacion{
    align-items: center;
    text-align: center;
    h5{
        background-color: rgba(19, 13, 68, 0.850);
        color: white;
        border: 0.1rem solid #f1f1f1;
        font-size: 2rem;
        font-weight: bold;
        padding: 3rem 3rem 3rem 3rem;
    }
    img{
        max-height: 450px;
    }
}
.presentacion-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}