@media screen and (min-width: 320px){
    #brand-text{
    font-size: 1.3rem;
    }
    .seccion-bloques{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .seccion-bloques__bloque{
        width: 100%;
        height: 20rem;
        margin-bottom: 1rem;
    }
    .seccion-banner__texto{
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.5rem;
            margin-top: 25px;
            text-align: start;
        }
    }
    footer{
        grid-template-columns: auto;
        grid-template-rows: 33% 33% auto;
        grid-template-areas: 'ubicacion' 'rrss' 'legales';
        justify-items: center;
        width: 100%;
    }
    #ubicacion, #rrss{
        text-align: center;
        padding-top: 1rem;
    }
    .legales{
        flex-direction: column;
        margin-bottom: 2rem;
        div{
            font-size: 0.7rem;
            margin-bottom: 0.8rem;
        }
        ul{
            flex-direction: column;
        }
    }
    #formres{
    height: 10rem;
    width: 20rem;
    }
}
@media screen and (min-width: 1200px){
    #brand-text{
    font-size: 2.5rem;
    }
    .seccion-bloques{
        flex-direction: row;
        width: 100%;
        height: 40rem;
    }
    .seccion-banner__texto{
        h2{
            font-size: 4rem;
        }
        p{
            font-size: 1.5rem;
            margin-top: 0.5rem;
            text-align: end;
        }
    }
    footer{
        grid-template-columns: auto auto;
        grid-template-rows: 80% auto;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        grid-template-areas: 'ubicacion rrss' 'legales legales';
        justify-content: space-between;
        align-content: center;
        width: 100%;
    }
    #ubicacion, #rrss{
        text-align: left;
    }
    .legales{
        flex-direction: row;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        div{
            font-size: 0.7rem;
            margin-bottom: 0rem;
            margin-right: 7rem;
        }
        li{
            flex-direction: row;
        }
    }
    #formres{
    height: 30rem;
    width: 50rem;
    }
    .presentacion{
        h5{
            font-size: 4rem;
        }
    }
}