@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap");
.carousel {
  background-color: rgb(49, 49, 49);
  margin-bottom: 2rem;
}

.carousel-item img {
  filter: brightness(50%) opacity(90%) sepia(50%);
  max-height: 32rem;
}

#textoCarrusel {
  z-index: 1;
}

footer ul li span, footer ul li h4 {
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0pc;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgba(250, 250, 245, 0.8);
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  margin-top: 4rem;
}

/*---------------------------   HEADER  ---------------------------*/
#brand-text {
  font-family: "Cormorant", serif;
  border-bottom: 0.5px solid;
  color: rgba(0, 0, 0, 0.801);
}

/*--------------------------------  FRONTPAGE --------------------------------*/
.seccion-bloques {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  padding-top: 10px;
}

.seccion-bloques__bloque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 95%;
}

.seccion-bloques__bloque__texto {
  background-color: rgba(19, 13, 68, 0.85);
  border: 1px solid #f1f1f1;
  color: white;
  width: 75%;
  height: 200px;
  text-align: center;
}
.seccion-bloques__bloque__texto h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 5%;
}
.seccion-bloques__bloque__texto p {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#home-pedidos {
  background-image: url(../assets/img/taza.jpg);
  background-size: cover;
}

#home-reservas {
  background-image: url(../assets/img/salon.jpg);
  background-size: cover;
}

.seccion-banner {
  background-color: rgba(109, 130, 228, 0.5);
  background-image: url(../assets/img/cine.jpg);
  background-size: cover;
  display: flex;
  height: 500px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}
.seccion-banner h2 {
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
}
.seccion-banner p {
  font-size: 25px;
  margin-top: 25px;
  text-align: end;
}

.seccion-banner__texto {
  color: black;
  padding: 10px;
}

@-webkit-keyframes bienvenidaAnim {
  0% {
    background: linear-gradient(70deg, rgb(127, 161, 255), white, white, rgb(127, 161, 255));
  }
  50% {
    background: linear-gradient(70deg, rgb(127, 161, 255), rgb(202, 208, 233), rgb(202, 208, 233), rgb(127, 161, 255));
  }
  100% {
    background: linear-gradient(70deg, rgb(127, 161, 255), rgb(167, 179, 231), rgb(167, 179, 231), rgb(127, 161, 255));
  }
}

@keyframes bienvenidaAnim {
  0% {
    background: linear-gradient(70deg, rgb(127, 161, 255), white, white, rgb(127, 161, 255));
  }
  50% {
    background: linear-gradient(70deg, rgb(127, 161, 255), rgb(202, 208, 233), rgb(202, 208, 233), rgb(127, 161, 255));
  }
  100% {
    background: linear-gradient(70deg, rgb(127, 161, 255), rgb(167, 179, 231), rgb(167, 179, 231), rgb(127, 161, 255));
  }
}
/*------------------------------  FOOTER  ------------------------------*/
footer ul li span, footer ul li h4 {
  font-weight: normal;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60% auto;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-areas: "ubicacion rrss" "legales legales";
  justify-content: center;
  align-content: center;
  height: 20rem;
  background-image: url(../assets/img/old2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.637);
  color: white;
}
footer h6 {
  font-weight: normal;
}
footer ul {
  list-style: none;
}
footer ul li h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.legales {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  grid-area: legales;
}
.legales li {
  margin-left: 1rem;
  font-size: 1rem;
  text-align: center;
}
.legales div {
  align-content: center;
  font-size: 1rem;
}

#ubicacion {
  grid-area: ubicacion;
}

#rrss {
  grid-area: rrss;
}

/*--------------------   PRESENTACION DE SECCIONES   ------------------------*/
.presentacion {
  align-items: center;
  text-align: center;
}
.presentacion h5 {
  background-color: rgba(19, 13, 68, 0.85);
  color: white;
  border: 0.1rem solid #f1f1f1;
  font-size: 4rem;
  font-weight: bold;
  padding: 3rem 3rem 3rem 3rem;
}
.presentacion img {
  max-height: 450px;
}

.presentacion-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------   CARTA   --------------------------------*/
.menu {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.menu_categoria {
  font-size: 2rem;
  font-weight: bold;
  padding: 3rem 3rem 3rem 3rem;
}

.menu_categoria div {
  font-size: 1.5rem;
  font-weight: normal;
}

/*-------------------------   CONTACTO   -----------------------------*/
#contacto form fieldset {
  margin: 2rem 2rem 2rem 2rem;
  background-color: rgba(235, 235, 235, 0.4);
}
#contacto form fieldset legend {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

#infocontacto {
  margin: 0.5rem auto 1rem 1.2rem;
  line-height: 1rem;
}
#infocontacto h2 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#infocontacto ul {
  list-style: none;
}
#infocontacto ul li {
  line-height: 1.5rem;
}

#infosubmit {
  line-height: 1rem;
}
#infosubmit h2 {
  font-weight: bold;
  font-size: 20px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*-------------------------   HISTORIA   -----------------------------*/
#historia {
  background-color: rgba(240, 240, 215, 0.8);
}
#historia section {
  margin: 10px;
}
#historia iframe {
  margin: 25px auto 80px 415px;
}

.año {
  padding: 20px;
  color: rgba(0, 0, 0, 0.75);
}
.año h2 {
  margin: 25px;
  text-align: center;
  font-size: 50px;
}
.año p {
  padding: 10px;
  text-indent: 10px;
  text-align: justify;
  line-height: 25px;
  font-size: 20px;
}

/*-------------------------   RESERVAS   -----------------------------*/
#reservas section {
  text-align: center;
}
#reservas section h2 {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#formres {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  margin-bottom: 50px;
  font-size: 1rem;
}

/*-------------------------   STAFF   -----------------------------*/
#staff {
  color: rgba(0, 0, 0, 0.95);
}
#staff section h2 {
  margin: 1rem;
  font-size: 3rem;
}
#staff section p {
  padding: 1rem;
  text-indent: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {
  header {
    flex-direction: column;
  }
  #logo {
    justify-content: start;
    width: 100%;
    margin-left: 10%;
  }
  #logotitulo {
    width: 100%;
    margin-left: 10%;
  }
  main {
    width: 100%;
  }
  .seccion-bloques {
    flex-direction: column;
    justify-content: space-evenly;
    width: 1200px;
    height: 1000px;
  }
  .seccion-bloques__bloque {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
  }
  footer {
    grid-template-columns: auto;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "ubicacion" "rrss" "legales";
    justify-items: center;
    width: 100%;
  }
  #ubicacion, #rrss {
    text-align: center;
    padding-top: 1rem;
  }
  .legales {
    margin-bottom: 2rem;
  }
  #formres {
    height: 10rem;
    width: 20rem;
  }
}
@media screen and (min-width: 1200px) {
  header {
    flex-direction: row;
  }
  #logo {
    width: 40%;
  }
  #logotitulo {
    margin-left: 5%;
  }
  main {
    width: 100%;
  }
  .seccion-bloques {
    flex-direction: row;
    width: 100%;
    height: 500px;
  }
  footer {
    grid-template-columns: auto auto;
    grid-template-rows: 60% auto;
    row-gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    grid-template-areas: "ubicacion rrss" "legales legales";
    justify-content: space-between;
    align-content: center;
    width: 100%;
  }
  #ubicacion, #rrss {
    text-align: left;
  }
  #formres {
    height: 30rem;
    width: 50rem;
  }
}/*# sourceMappingURL=styles.css.map */